@media screen and (max-width: 767px) {
  .gallery-fullscreen-slideshow[data-height="L"] {
    height: auto !important;
  }
  .gallery-fullscreen-slideshow-item img {
    object-fit: contain !important;
  }
}
body {
  position: relative;
  font-family: 'PT Sans', sans-serif;
  overflow-x: hidden;
  background-color: #111;
}

.main{
    position: relative;
    background: url("https://images.unsplash.com/photo-1576975220179-dd57b19f7537?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8bmVvbiUyMGJsdWV8ZW58MHx8MHx8&w=1000&q=80");
     background-size: cover;
    background-attachment: fixed;
    background-position: right center;
    width: auto;
    height: calc(100vh - 90px);
}

.navbar {
width: 1200px;
height: 75px;
margin: auto;
}

.icon{
width: 200px;
float: left;
height: 70px;
}

.logo{ 
font-size: 35px;
font-family: '3d-float';
padding-left: 20px;
float: left;
padding-top: 10px;
background: linear-gradient(
  40deg, 
  rgba(2,0,36,1) 16.666%,
  rgba(9,9,121,1) 16.666%%,
  rgba(9,9,121,1) 33.333%%,
  rgba(0,212,255,1) 33.333%,
  rgba(0,212,255,1) 50%,
  rgba(2,0,36,1) 50%,
  rgba(2,0,36,1) 66.666%,
  rgba(9,9,121,1) 66.666%%,
  rgba(0,212,255,1) 83.333%,
  rgba(2,0,36,1) 83.333%;
  background-size: 100%;
  background-repeat: repeat;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-color: #ffffff;
animation rainbow-text-simple-animation-rev 0.75s ease forwards;
}

.logo:hover{
  animation: rainbow-text-simple-animation 0.5s ease-in forwards;
}
@keyframes rainbow-text-simple-animation-rev {
  0% {
      background-size: 650%;
  }
  40% {
      background-size: 650%;
  }
  100% {
      background-size: 100%;
  }
  @keyframes rainbow-text-simple-animation {
    0% {
        background-size: 100%;
    }
    80% {
        background-size: 650%;
    }
    100% {
        background-size: 650%;
    }
}

.menu{
width: 400px;
float: left;
height: 70px;
}
ul{
float: left;
display: flex;
justify-content: center;
align-items: center;
}

ul li{
list-style: none;
margin-left: 62px;
margin-top: 27px;
font-size: 14px;
}

ul li a{
text-decoration: none;
color: #fff;
font-family: Arial;
font-weight: bold;
transition: 0.4s ease-in-out;
}

ul li a:hover{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.4s ease-in-out;
}

.search{
width: 330px;
float: left;
margin-left: 270px;
}

.srch{
font-family: 'Times New Roman';
width: 200px;
height: 40px;
background: transparent;
border: 1px solid rgb(23, 23, 170);
margin-top: 30px;
color: #fff;
border-right: none;
font-size: 16px;
float: left;
padding: 10px;
border-bottom-left-radius: 5px;
border-top-left-radius: 5px;
}
.btn{
width: 100px;
height: 40px;
background: rgb(23, 23, 170);
border: 2px solid rgb(23, 23, 170);
margin-top: 30px;
color: #fff;
font-size: 15px;
border-bottom-right-radius: 5px;
border-bottom-right-radius: 5px;
}

.btn:focus{
outline: none;
}

.srch:focus{
outline: none;
}

.content{
width: 1200px;
height: auto;
margin: auto;
color: #fff;
position: relative;
}

.content .par{
padding-left: 20px;
padding-bottom: 25px;
font-family: Arial;
letter-spacing: 1.2px;
line-height: 20px;
}

.content h1{
font-family: 'Times New Roman';
font-size: 50px;
padding-left: 20px;
margin-top: 9px;
margin-bottom: 0px;
letter-spacing: 1.2px;
}

.content .cn{
width: 160px;
height: 40px;
background: rgb(23, 23, 170);
border: none;
margin-bottom: 10px;
margin-left: 20px;
font-size: 18px;
border-radius: 10px;
cursor: pointer;
transition: .4s ease;
}

.content .cn a{
text-decoration: none;
color: #000;
transition: .3s ease;
}

.cn:hover{
background-color: #fff;
}

.content span{
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent);
  font-size: 60px;
}

.form{
  width: 250px;
  height: 380px;
  background: linear-gradient(to top, rgba(0,0,0,0,5)50%,rgba(0,0,0,0,5)50%);
  position: absolute;
  top: -20px;
  left: 870px;
  border-radius: 10px;
  padding: 25px;
}

.form h2{
  width: 220px;
  font-family: sans-serif;
  text-align: center;
  color: rgb(23, 23, 170);
  font-size: 22px;
  background-color: #fff;
  border-radius: 10px;
  margin: 2px;
  padding: 8px;
}

.form input{
  width: 240px;
  height: 35px;
  background: transparent;
  border-bottom: 1px solid rgb(23, 23, 170);
  border-top: none;
  border-right: none;
  border-left: none;
  color: #fff;
  font-size: 15px;
  letter-spacing: 1px;
  margin-top: 30px;
  font-family: sans-serif;
}

.form input:focus{
  outline: none;
}

::placeholder{
  color: #fff;
  font-family: Arial;
}
